h1{
  text-align: center;
}

.App{
  background: rgb(247,148,12);
  background: linear-gradient(90deg, rgba(247,148,12,1) 0%, rgba(254,254,254,1) 50%, rgba(83,224,13,1) 100%);
  padding-top: 1px;
  height: 100vh;
} 